name: Deploy Vite React App to GoDaddy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Vite app
        run: npm run build

      - name: Deploy to GoDaddy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          run: |
          lftp -u $FTP_USERNAME,$FTP_PASSWORD $FTP_SERVER <<EOF
          set ftp:passive-mode on
          set net:timeout 300
          set net:max-retries 3
          mirror -R ./dist /public_html/ --delete --verbose
          quit
          EOF
